---
layout: default
---
<section id="post" class="post">

  <meta content='article' property='og:type'/>

  {% if page.cover %}
    <img alt="(cover image)" height="400px" src="{{ page.cover }}" />
  {% endif %}
  {% if page.cover-caption %}
    <p class="post-meta">
      {{ page.cover-caption }} 
    </p>
  {% endif %}
  {% if page.cover or page.cover-caption %}
    <div style="visibility:hidden">X</div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</section>

<section id="comments">

    <div class="comments-header">
        <h1>comments</h1>
        <p class="figcaption">
            (warning: <a href="//muut.com">Muut</a> comments,
             here or in the <a href="/forum">Forum</a>, are not fully deletable.
             Don't include private info.
             For other ways to comment, see the <a href="/about">About page</a>.)
        </p>
    </div>

    <div>
        {% assign muut-community = 'collaborative-design' %}
        {% assign muut-blog = 'collaborative-design' %}

        {% capture muutarticle %}{{ page.date | date: "%F" }}-{{ page.title | slugify }}{% endcapture %}
        
        {% capture muutchannelurl %}//muut.com/i/{{muut-community}}/comments/{{muut-blog}}/{{muutarticle}}{% endcapture %}

        <a class="muut" href="{{muutchannelurl}}" data-show_title="false">Comments</a>
        <script src="//cdn.muut.com/1/moot.min.js"></script>
        <noscript>(JavaScript required for comments)</noscript>
    </div>

</section>
