---
layout: default
---
<section id="post" class="post">

  {% if page.cover %}
    <a href="{{ page.cover }}">
      <img alt="(cover image)" height="400" src="{{ page.cover }}" />
    </a>
  {% endif %}
  {% if page.cover-caption %}
    <a href="{{ page.cover }}">
      <p class="post-meta">
        {{ page.cover-caption }} 
      </p>
    </a>
  {% endif %}
  {% if page.cover or page.cover-caption %}
    <div style="visibility:hidden">X</div>
  {% endif %}

  <header class="post-header">
    {% if page.smalltitle %}
      <h2 class="post-title-h2">{{ page.title | markdownify }}</h2>
    {% else %}
      <h1 class="post-title">{{ page.title | markdownify }}</h1>
    {% endif %}
    <p class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • by {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}
      {% if page.part_of_EMSC %}
        {% capture x_EMSC %} • part of
            ["Extensible Meaning in a Shared Cloud"]({% post_url 2015-11-10-OPSN-data-formats %})
        {% endcapture %}
        {{x_EMSC | strip_newlines | markdownify | remove: '<p>' | remove: '</p>'}}
      {% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</section>

<section id="comments">

    <div class="comments-header">
        <h1>comments</h1>
        <p class="figcaption">
             warning: <a href="//muut.com">Muut</a> comments,
             below or in the <a href="/forum">Forum</a>, are not fully deletable.
             Don't include private info. <b>For unknown reasons, not everyone can see these comments.</b>
             For other ways to comment, see the <a href="/about">About page</a> or use the corresponding Google+ post.
        </p>
    </div>

    <div>
        {% assign muut-community = 'collaborative-design' %}
        {% assign muut-blog = 'collaborative-design' %}

        {% capture muutarticle %}{{ page.date | date: "%F" }}-{{ page.title | slugify }}{% endcapture %}
        
        {% capture muutchannelurl %}//muut.com/i/{{muut-community}}/comments/{{muut-blog}}/{{muutarticle}}{% endcapture %}

        <a class="muut" href="{{muutchannelurl}}" data-show_title="false">Comments</a>
        <script src="//cdn.muut.com/1/moot.min.js"></script>
        <noscript>(JavaScript required for comments)</noscript>
    </div>

</section>
